.header {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    font-family: "Urbanist-Medium";
    src: url('C:\Users\Стелла\Desktop\черновик 2\urbanist\static\Urbanist-Medium.ttf') format(ttf);
    height: 162px;
    background-color: black;
}

.banner {
    border: 1px solid red;
    display: inline-flex;
    justify-content: center;
    height: 63px;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 18px;
    padding-bottom: 18px;

}

.text_button {
    border: 1px solid red;
    width: 91px;
    height: 27px;
    font-size: 18px;
}

.text_banner {
    border: 1px solid red;
    color: white;
    width: 363px;
    height: 27px;
    font-size: 18px;

}



.header_navigation-bar {
    border: 1px solid red;
    display: inline-flex;
    justify-content: space-between;
    height: 99px;
    padding-left: 162px;
    padding-right: 162px;
    padding-top: 20px;
    padding-bottom: 20px;



}


.header_navigation-bar_logo {
    border: 1px solid red;
    width: 160px;
    height: 48px;
    font-size: 30px;


}

.header_navigation-bar_header-buttons {
    border: 1px solid red;
    width: 407px;
    height: 55px;
    color: white;
    font-size: 21px;
}

.header_navigation-bar_contact-button {
    border: 1px solid red;
    width: 136px;
    height: 59px;
    font-size: 21px;

}

.container-1 {
    border: 1px solid red;
    height: 1066px;
    display: flex;
    background-color: black;
}

.block-1 {
    display: inline-flex;
    border: 1px solid red;
    height: 814px;

}

.container-1_block1-1 {
    display: flex;
    width: 920px;
    height: 814px;
}

.text_block1-1 {
    border: 1px solid red;
    color: white;
    width: 758px;
    height: 222px;
    text-align: left;
    font-size: 28px;
    font-family: "Urbanist-SemiBold";
    src: url('C:\Users\Стелла\Desktop\черновик 2\urbanist\static\Urbanist-SemiBold.ttf') format(ttf);
    float: right;
    margin-top: 150px;
    
    
}

.heading {
    width: 758px;
    height: 164px;
}

.paragraf {
    width: 758px;
    height: 54px;
}

.container-1_Subblock1-1 {
    color: white;
}

.container-1_block1-2 {
    width: 920px;
    height: 814px;
    position: absolute;
    right: 0;

}

.container-1_Subblock1-2 {
    width: 758px;
    height: 121px;
}

.text1 {
    width: 239.33px;
    height: 121px;
}

.text1_heading {
    color: white;
}

.block-2 {
    border: 1px solid red;
    width: 1920px;
    height: 252px;
}